@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

$border-radius:5px;
$margin:30px;
$color-primary: #9D257E;
$selectedColor: $color-primary;

$font-sizegray:14px;


$background-color:rgb(223, 223, 223);
$margin-left: 237px;
$font-weight: bolder;
$font-size: 25px;
$font-family: "Alata";
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

