.navbar {
    display: flex;
  &__opciones {
    display: flex;
     background-color: rgb(255, 255, 255);
     width: 160px;
     border-radius: 5px;
     border: 1px solid #828282;
     padding: 10px;
     button {
        background-color: transparent;
        border: none;
     }
  }
  &__origen {
    position: relative;
    top: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #828282;
   text-align: center;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    h4 {
        position: relative;
        top: -40px;
    }
    h6 {
        font-weight: lighter;
        color: #828282;
        position: relative;
        top: -60px;
    }
  }
  &__destino {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 80px;
    position: relative;
    left: 270px;
    top: -80px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    label {
        font-size: 30px;
    }
    select {
        background-color: transparent;
        
    }
  }
}
