@import "../../variables/variables.scss";

.navbar {
  display: flex;
  flex-direction: column;

  &__opciones {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 172px;
    border-radius: 5px;
    border: 1px solid #828282;
    padding: 5px;

    button {
      border: none;
      font-family: $font-family;
      border-radius: $border-radius;
    }
  }

  &__origen {
    position: relative;
    top: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #828282;
    text-align: center;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;

    h4 {
      font-size: $font-sizegray;
      position: relative;
      top: -40px;
    }

    h6 {
      font-size: $font-sizegray;
      color: #828282;
      position: relative;
      top: -60px;
    }
  }

  &__destino {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 80px;
    position: relative;
    left: 270px;
    top: -80px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-display: flex;
    flex-direction: column;

    label {
      font-size: $font-sizegray;
    }

    select {
      margin-top: 40px;
      font-size: $font-sizegray;
      background-color: transparent;
      border: none;
      color: gray;
    }
  }
  &__salida {
    position: relative;
    top: -60px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    label {
      display: flex;
      color: gray;
    }
    input {
      color: rgb(0, 0, 0);
      font-size: 16px;
      border: none;
    }
  }
  &__regreso {
    position: relative;
    top: -120px;
    left: 270px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    label {
      display: flex;
      color: gray;
    }
    input {
      color: rgb(0, 0, 0);
      font-size: 16px;
      border: none;
    }
  }
  &__pasajeros {
     position: relative;
     left: 40px;
     background-color: red;
     width: 100px;
  }
  &__button {
    background-color: red;
  }
 &__container {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    button {
   background-color: rgb(17, 0, 208);
    border: none;
    width: 40%;
    h5 {
      
    }
    }
  }
}

.selected {
  background-color: $color-primary;
  color: white;
}

.noborder {
  border: none;
}
